Your task is to perform statistical analysis using this dataset.
https://www.kaggle.com/datasets/abrambeyer/openintro-possum
You are to document in detail, the interpretation of your results from all the measures of centre, all measures of spread,  and outlier detection mechanisms.

In [12]:
# importing  neccesary libraries

%pip install scipy

import pandas as pd  #pandas for data manipulation
import numpy as np  #numpy for numerical operations
import matplotlib.pyplot as plt #matplotlib for data visualization 
import seaborn as sns   #seaborn for statistical data visualization
import os  #os for operating system interactions
import scipy.stats as stats  #scipy for scientific computing
import statistics  #statistics for statistical functions


print("imported successes ")

Requirement already satisfied: scipy in c:\users\ace7n\appdata\local\programs\python\python313\lib\site-packages (1.16.2)
Requirement already satisfied: numpy<2.6,>=1.25.2 in c:\users\ace7n\appdata\local\programs\python\python313\lib\site-packages (from scipy) (2.3.2)
Note: you may need to restart the kernel to use updated packages.
imported successes

In [13]:
#Load in the posson dataset from the data folder
possum_data = pd.read_csv('possum.csv')    # Load the dataset
print("Data Loaded Successfully")

Data Loaded Successfully

In [14]:
#viewing a few rows of the dataset
possum_data.head()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

In [23]:
#viewing the last few rows of the dataset
possum_data.tail()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
102,103,7,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

In [15]:
# Viewing  the number of rows and columns in the dataset
possum_data.shape

(104, 14)

In [16]:
# Viewing the data types of each column
possum_data.dtypes

case          int64
site          int64
Pop          object
sex          object
age         float64
hdlngth     float64
skullw      float64
totlngth    float64
taill       float64
footlgth    float64
earconch    float64
eye         float64
chest       float64
belly       float64
dtype: object

In [17]:
# Viewing  a summary of the dataset
possum_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   case      104 non-null    int64
 1   site      104 non-null    int64
 2   Pop       104 non-null    object
 3   sex       104 non-null    object
 4   age       102 non-null    float64
 5   hdlngth   104 non-null    float64
 6   skullw    104 non-null    float64
 7   totlngth  104 non-null    float64
 8   taill     104 non-null    float64
 9   footlgth  103 non-null    float64
 10  earconch  104 non-null    float64
 11  eye       104 non-null    float64
 12  chest     104 non-null    float64
 13  belly     104 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 11.5+ KB

In [ ]:
# checking for missing values
possum_data[possum_data.isna().any(axis=1)] # Check for rows with any missing values
print(possum_data.isna().sum())  # Check for missing values in each column

case        0
site        0
Pop         0
sex         0
age         2
hdlngth     0
skullw      0
totlngth    0
taill       0
footlgth    1
earconch    0
eye         0
chest       0
belly       0
dtype: int64

In [25]:
# removing missing values
possum_data = possum_data.dropna()  # Drop rows with any missing values
print("Missing values handled")

Missing values handled

In [ ]:
# resetting the index
possum_data.reset_index(drop=True, inplace=True)  # Reset index after dropping rows because the index of the rows dropped 
print("Index reset successfully")

Index reset successfully

In [35]:
# checking the shape after removing missing values
possum_data.shape

(101, 14)

In [ ]:
# checking for missing values again
possum_data[possum_data.isna().any(axis=1)] # Check for rows with any missing values
print(possum_data.isna().sum())  # Check for missing values in each column

case        0
site        0
Pop         0
sex         0
age         0
hdlngth     0
skullw      0
totlngth    0
taill       0
footlgth    0
earconch    0
eye         0
chest       0
belly       0
dtype: int64

In [27]:
# checking for duplicates
duplicates = possum_data.duplicated()   # Check for duplicate rows
print(f"Number of duplicate rows: {duplicates.sum()}")  # Print the number of duplicate rows

Number of duplicate rows: 0

In [29]:
# Lets get the description for sex by age
possum_data.groupby('sex')['age'].describe().round(2)

     count  mean   std  min  25%  50%  75%  max
sex
f     42.0  3.95  1.96  1.0  3.0  3.5  5.0  9.0
m     59.0  3.73  1.89  1.0  2.0  3.0  5.0  8.0

The dataset seems clean

# Performing statistical analysis

In [33]:
#measures of central tendency for hdlngth
mean_hdlngth = possum_data['hdlngth'].mean().round(2)  # Calculate mean
median_hdlngth = possum_data['hdlngth'].median()  # Calculate median
mode_hdlngth = possum_data['hdlngth'].mode()[0]  # Calculate mode
print(f"Mean Head Length: {mean_hdlngth}, Median Age: {median_hdlngth}, Mode Age: {mode_hdlngth}")

Mean Head Length: 92.73, Median Age: 92.9, Mode Age: 93.3

In [32]:
#measures of central tendency for age
mean_age = possum_data['age'].mean().round(2)  # Calculate mean
median_age = possum_data['age'].median()  # Calculate median
mode_age = possum_data['age'].mode()[0]  # Calculate mode
print(f"Mean Age: {mean_age}, Median Age: {median_age}, Mode Age: {mode_age}")

Mean Age: 3.82, Median Age: 3.0, Mode Age: 3.0

In [ ]:
#measures of spread for age
std_age = possum_data['age'].std()  # Calculate standard deviation

In [19]:
#measures of spread

In [20]:
#outlier detection mechanisms